<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shorten URLs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Shorten Urls</a>
        </div>
        <span class="navbar-right whiteText" th:text="'This app is running on: '+${hostName}"> </span>
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <span><strong>Add the URL that you want to shorten to the following list</strong> </span>
        <table class="table-hover col-sm-10 shadowedBox topMargin20">
            <thead>
            <tr>
                <th>Short URL</th>
                <th>Copy Button</th>
                <th>Target</th>
                <th>Expires on</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="url:${urls}">
                <td><a th:href="@{/} + ${url.getShortUrl()}" th:text="${url.getShortUrl()}"></a></td>
                <td>
                    <button th:onclick="'copyToClipboard(\''+@{/}+${url.getShortUrl()}+'\')'" class="col-sm-offset-1
                                        topMargin5 bottomMargin5 btn gradient glyphicon glyphicon-copy"
                            title="copy to clipboard"></button>
                </td>
                <script>
                    // implement a function that takes a string as an argument
                    function copyToClipboard(value) {
                        //create a temporary HTML input element
                        var tempInput = document.createElement("input");
                        //"hide" the imput element outside the page
                        tempInput.style = "position: absolute; left: -10px; top: -10px";
                        //set the value of the input element
                        tempInput.value = "https://akira.ddns.net" + value;
                        //add the temporary input to the body of the document
                        document.body.appendChild(tempInput);
                        //select the input element
                        tempInput.select();
                        //Copies the current selection to the clipboard.
                        document.execCommand("copy");
                        //remove the temporary input from the body
                        document.body.removeChild(tempInput);
                    }
                </script>
                <td th:text="${url.getTarget()}">test</td>
                <td th:text="${url.getExpiresOn()}">test</td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/add_url}" class="col-sm-10 shadowedBox topMargin30">
                <span class="col-sm-6">
                <input type="text" placeholder="Please enter target URL address" name="urlTarget"
                       class="form-control"/>
                </span>
            <select class="col-sm-2 col-sm-offset-1 selectpicker form-control" name="lifeTime">
                <option value="2">2 Minutes</option>
                <option value="120">2 Hours</option>
                <option value="1440">1 Day</option>
            </select>
            <input type="submit" value="Add" class="col-sm-1 col-sm-offset-2 btn gradient"/>
        </form>


    </div>

</div>
<!-- /.container -->

<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>