<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menus</title>
    <div th:replace="header :: header-css"></div>
</head>
<body>
<div th:fragment="comments">
    <h1 class="page-header text-center top50"> Comments</h1>
    <div th:each="comment :${product.comments}">
        <div th:unless="${comment.approved}" class="row innerPanel top20 approvedComment" title="unapproved comment">
            <div class="col-sm-2">
                <span class="col-sm-12 glyphicon glyphicon-user btn-lg text-center"></span>
                <span class="col-sm-12" th:text="${comment.user}">User Name</span>
            </div>
            <div class="col-sm-9">
                <h4 th:text="${comment.title}">Comment Title</h4>
                <pre th:text="${comment.text}"
                     class="approvedComment"> Product comments will be displayed here </pre>
            </div>
            <div class="col-sm-1">
                <a class="glyphicon glyphicon-eye-open" title="Approve Comment"
                   th:href="@{/approve_comment(productId=${product.id},commentId=${comment.id})}"></a>
                <a class="glyphicon glyphicon-remove col-sm-offset-3" title="Delete Comment"
                   th:href="@{/delete_comment(productId=${product.id},commentId=${comment.id})}">
                </a>
            </div>
        </div>
        <div th:if="${comment.approved}" class="row innerPanel top20">
            <div class="col-sm-2">
                <span class="col-sm-12 glyphicon glyphicon-user btn-lg text-center"></span>
                <span class="col-sm-12" th:text="${comment.user}">User Name</span>
            </div>
            <div class="col-sm-9">
                <h4 th:text="${comment.title}">Comment Title</h4>
                <pre th:text="${comment.text}"> Product comments will be displayed here </pre>
            </div>
            <div class="col-sm-1">
                <a class="glyphicon glyphicon-eye-close" title="Disapprove Comment"
                   th:href="@{/disapprove_comment(productId=${product.id},commentId=${comment.id})}"></a>
                <a class="glyphicon glyphicon-remove col-sm-offset-3" title="Delete Comment"
                   th:href="@{/delete_comment(productId=${product.id},commentId=${comment.id})}">
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>