<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
    <div th:fragment="header-css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
    </div>
</head>
<body>
<div class="container row" th:fragment="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand glyphicon glyphicon-paperclip logoText" th:href="@{/}"><strong> The Cheap
                    Shop</strong></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/sign_in}" class="noPadding">
                            <span class="glyphicon glyphicon-user btn-lg noPadding"></span>
                            <span>Sign In</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/in_development}" class="noPadding">
                            <span class="glyphicon glyphicon-shopping-cart  btn-lg noPadding"></span>
                            <span>Shopping Cart</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/help}" class="noPadding">
                            <span class="glyphicon glyphicon-question-sign  btn-lg noPadding"></span>
                            <span>Help</span>
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" th:action="@{/search}">
                    <input type="text" class="form-control" placeholder="Search in Shop..."/>
                    <button class="btn btn-info glyphicon glyphicon-search " type="submit"></button>
                </form>
            </div>
        </div>
    </nav>
</div>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>