<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menus</title>
    <div th:replace="header :: header-css"></div>
</head>
<body>
<div class="col-sm-2 sidebar" th:fragment="sidemenu">
    <ul class="nav nav-sidebar">
        <li class=" active ">
            <a href="">Categories
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li>
            <a th:href="@{/view_users}">
                <span class="glyphicon glyphicon-user"></span>
                <span> Users </span>
            </a>
        </li>
        <li>
            <a th:href="@{/view_products}">
                <span class="glyphicon glyphicon-sunglasses"></span>
                <span> Products </span>
            </a>
        </li>
        <li>
            <a th:href="@{/unapproved_comments}">
                <span class="glyphicon glyphicon-bullhorn"></span>
                <span> Comments </span>
            </a>
        </li>
        <li>
            <a th:href="@{/in_development}">
                <span class="glyphicon glyphicon-bell"></span>
                <span> Orders </span>
            </a>
        </li>
    </ul>
</div>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>