.topMargin30 {
    margin-top: 30px;
}

.topMargin20 {
    margin-top: 20px;
}
.topMargin5 {
    margin-top: 5px;
}
.bottomMargin5 {
    margin-bottom: 5px;
}

.shadowedBox {
    border: 1px solid;
    border-radius: 5px;
    border-collapse: unset;
    padding: 10px;
    box-shadow: 5px 5px 18px #888888;

}
.whiteText{
    color: white;
}
.selectpicker {
    width: auto;
}

.btn.gradient {
    color: white;
    background: linear-gradient(to bottom,  #262626 50%,#1a1a1a 50%);

}
.btn.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
   color: white;
    background: linear-gradient(to bottom,  #4d4d4d 50%,#404040 50%);

}
.btn.gradient:active, .btn-primary.gradient.active {
   color: white;
    background: linear-gradient(to bottom,  #1a1a1a 50%,#000000 50%); }