<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>URL Checker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
    <meta http-equiv="refresh" content="250"/>
</head>
<body>
<nav class="navbar navbar-fixed-top">
           <div class="navbar-header">
            <a class="navbar-brand" href="/">The URL Checker</a>
        </div>
    <div class="container">
    <div class="navbar-right btn">
        <a href="" class="userLog">
            <span class="glyphicon glyphicon-pencil btn-lg noPadding"></span>
            <span>Register</span>
        </a>
        <a href="" class="userLog">
            <span class="glyphicon glyphicon-user btn-lg noPadding"></span>
            <span>Sign In</span>
        </a>
    </div>
    </div>
</nav>
<div class="container mainPage">
    <div class="starter-template">
        <h1>Url checker </h1>
        <h2>This page auto refreshes every 20 seconds</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> URL </th>
                    <th> Status </th>
                    <th> Last checked </th>
                    <th> Thread name </th>
                </tr>
            </thead>
            <tbody th:each="url:${urlList}">
                <tr>
                    <td th:text="${url.address}"> </td>
                    <td th:text="${url.state}"> </td>
                    <td th:text="${url.lastChecked}"> </td>
                    <td th:text="${url.threadName}"> </td>
                </tr>
            </tbody>
        </table>
        <form th:action="@{/add_url}" method="post">
            <span class="col-sm-7">
            <input type="text" name="urlAddress" placeholder="input a URL to be checked" class="form-control"></input>
            </span>
                <input type="submit" class="btn col-sm-offset-1 gradient"></input>
        </form>
    </div>

</div>
<!-- /.container -->

<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>