<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Modify Product</title>
    <div th:replace="fragments/header :: header-css"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid background">
    <div class="container" th:replace="fragments/header :: header">
    </div>
    <div class="container mainPanel">
        <div th:replace="fragments/menus :: sidemenu"></div>
        <div class="col-sm-10 main">
            <h1 class="page-header">Modify product details </h1>

            <div class="row product-top col-sm-offset-1">

                <form th:action="@{/modify_product}" th:object="${product}" class="form-horizontal" method="post"
                      enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="input-group top20 col-sm-8">
                        <span class="input-group-addon" id="nameAddon">Product Name</span>
                        <input type="text" th:field="*{name}" class="form-control" th:value="*{name}"
                               aria-describedby="nameAddon"/>
                    </div>
                    <div class="input-group top20 col-sm-4">
                        <span class="input-group-addon" id="quantityAddon">Number of units on stock</span>
                        <input type="number" min="0" th:field="*{quantity}" class="form-control" placeholder="0"
                               aria-describedby="quantityAddon"/>
                    </div>
                    <div class="input-group top20 col-sm-4">
                        <span class="input-group-addon" id="unitAddon">Choose the unit</span>
                        <select th:field="*{unit}" class="form-control" aria-describedby="unitAddon">
                            <option th:each="unit : ${T(org.flo.shop.entities.ProductUnit).values()}"
                                    th:value="${unit}"
                                    th:text="${unit}">
                            </option>
                        </select>
                    </div>
                    <div class="input-group top20 col-sm-4 ">
                        <span class="input-group-addon">Price for one unit</span>
                        <input type="number" min="0" step="any" th:field="*{price}" class="form-control"
                               placeholder="0" aria-describedby="priceAddon"/>
                        <span class="input-group-addon">€</span>
                    </div>
                    <div class="input-group top20 col-sm-8">
                         <span class="input-group-btn ">
                            <span class="btn btn-primary " onclick="$(this).parent().find('input[type=file]').click();">
                                <span class="glyphicon glyphicon-picture"></span>
                                <span>Change existing picture</span>
                            </span>
                             <input th:field="*{image}"
                                    onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());"
                                    style="display: none;" type="file"/>
                         </span>
                        <span class="form-control"></span>
                    </div>
                    <div class="top20 row">
                        <div class="form-group col-sm-8">
                            <nav class="navbar navbar-light textarea-top">
                                <span>Product Description</span>
                            </nav>
                            <textarea th:field="*{description}" wrap="soft" class="textarea"></textarea>
                        </div>
                        <div class="col-sm-4 text-center top20">

                            <button type="submit" class="btn col-sm-10 btn-success top20">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                <span>Modify Product</span>
                            </button>

                            <a class="btn btn-danger col-sm-10 top20" th:href="@{/view_products}">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span>Cancel Modify</span>
                            </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="row">
            <h1 class="page-header text-center"> Comments</h1>
            <div class="innerPanel row text-center">
                <div class="col-sm-2">
                    <span class="col-sm-12 glyphicon glyphicon-user btn-lg"></span>
                    <span class="col-sm-12">User Name</span>
                </div>
                <div class="col-sm-10">
                    <h4>Comment Title</h4>
                    <p> Lorem ipsum dolor sit amet, mel populo prompta debitis ex.
                        Eos iudicabit gubergren necessitatibus no, choro appetere corrumpit usu no.
                        Graeco nostro mei an, id porro vivendo mei, ea mei oblique antiopam. Purto aliquan</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>