<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container-fluid background">
    <div class="container" th:replace="fragments/header :: header">
    </div>
    <div class="container mainPanel">
        <div th:replace="fragments/menus :: sidemenu"></div>
        <div class="col-sm-10 main">
            <h1 class="page-header">All Products</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th class="text-center">Product Price</th>
                    <th class="text-center">Quantity on Stock</th>
                    <th class="text-center">Preview</th>
                    <th class="text-center col-sm-1"><a class="btn btn-success " th:href="@{/add_product_view}">
                        <span class="glyphicon glyphicon-plus" title="Add Product"></span>
                    </a></th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="product : ${products}">
                    <td data-th-text="${product.getName()}"></td>
                    <td data-th-text="${product.getPrice()}" class="text-center"></td>
                    <td data-th-text="${product.getQuantity()}" class="text-center"></td>
                    <td class="text-center">
                        <img th:src="@{'/images'+${product.imagePath}}" height="80px" width="80px"></img>
                    </td>

                    <td class="text-center">
                        <a class="glyphicon glyphicon-bullhorn col-sm-12" title="Manage Comments"
                           th:href="@{/manage_product_comments(productId=${product.id})}">
                        </a>
                        <a class="glyphicon glyphicon-pencil paddingTop10 col-sm-12" title="Edit Product"
                           th:href="@{/modify_product_view(productId=${product.id})}">
                        </a>
                        <a class="glyphicon glyphicon-remove paddingTop10 col-sm-12" title="Delete Product"
                           th:href="@{/delete_product(productId=${product.id})}">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>