<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="${product.name}">Product1</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container-fluid background">
    <div class="container" th:replace="fragments/header :: header">
    </div>
    <div class="container mainPanel">
        <div th:replace="fragments/menus :: sidemenu"></div>
        <div class="col-sm-10 main">
            <h1 class="page-header text-center" th:text="${product.name}">Product 1</h1>
            <div class="row product-top">
                <div class="col-sm-4">
                    <img th:src="@{'/images'+${product.imagePath}}" height="300px" width="300px"></img>
                </div>
                <div class="col-sm-8">
                    <div class="padding25">
                        <h3 th:text="${product.name}">Product 1</h3>
                        <div class="text-right">
                            <span th:if="${product.quantity &gt; 5}"><label class="label label-success">Product available on stock</label></span>
                            <span th:if="${product.quantity le 5 and product.quantity &gt; 0}"><label
                                    class="label label-warning">Under 5 products on stock</label></span>
                            <span th:if="${product.quantity le 0}"><label
                                    class="label label-danger">Out of stock</label></span>
                        </div>
                        <p th:text="${product.description}">Product Description</p>
                    </div>
                </div>
                <h3 class="col-sm-3 col-sm-offset-9 " th:text="'Price: '+${product.price}+' €/'+${product.unit}">Price:
                    10,00 EUR</h3>
                <a class="btn btn-lg btn-danger col-sm-3 col-sm-offset-9 " href="">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span>Add to Chart</span>
                </a>
            </div>
            <div class="col-sm-12 top20">
                <hr/>
            </div>
            <div class="col-sm-12 top20">
                <form th:action="@{/add_comment}" method="post">
                    <div class="form-group col-sm-11">
                        <input type="hidden" name="productId" th:value="${product.id}"/>
                        <div class="input-group">
                            <span class="input-group-addon" id="titleAddon">Comment Title</span>
                            <input type="text" name="commentTitle" class="form-control" aria-describedby="titleAddon"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-11 top20">
                        <nav class="navbar navbar-light textarea-top">
                            <span>Comment :</span>
                        </nav>
                        <textarea name="commentText" wrap="soft" class="textarea"></textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success col-sm-3 pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>Add Comment</span>
                    </button>
                </form>
            </div>

        </div>
        <hr class="col-sm-11 top 50"/>
        <div th:replace="fragments/comments :: comments"></div>
    </div>
</div>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>