<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Cheap Shop</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container-fluid background">
    <div class="container" th:replace="fragments/header :: header">
    </div>
    <div class="container mainPanel">
        <div th:replace="fragments/menus :: sidemenu"></div>
        <div class="col-sm-10 main">
            <h1 class="page-header">Unapproved Comments</h1>
            <p> Below you can find a list of all the products in the shop that have unapproved comments,
                this means that the regular shop user will not be able to read these comments yet. You can
                approve the comments for each product by checking the checkbox next to the comments you
                want ot approve and then clicking the
                <span>
                    <button class="btn btn-sm btn-success">Approve selected comments</button>
                </span>
                button, or you can click the
                <span>
                    <button class="btn btn-sm btn-success">Manage product comments</button>
                </span>
                button to go to the product page where you can manage all the comments of that particular
                product.
            <hr/>
            </p>
            <div th:each="product :${products}" class="row innerPanel top20">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-1">
                        <h3 th:text="${product.name}"></h3>
                        <h4 class="text-right" th:text="'Price : '+${product.price}+' €/'+${product.unit}"></h4>
                        <p th:text="${product.description}"></p>
                    </div>
                    <div class="col-sm-3">
                        <img th:src="@{'/images'+${product.imagePath}}" height="120px" width="120px"></img>
                    </div>
                </div>
                <form th:action="@{/approve_multiple_comments}">
                <div th:each="comment : ${product.comments}">
                    <div th:unless="${comment.approved}" class="row innerPanel top10 approvedComment"
                         title="unapproved comment">
                        <div class="col-sm-2">
                            <span class="col-sm-12 glyphicon glyphicon-user btn-lg text-center"></span>
                            <span class="col-sm-12" th:text="${comment.user}">User Name</span>
                        </div>
                        <div class="col-sm-9">
                            <h4 th:text="${comment.title}">Comment Title</h4>
                            <pre th:text="${comment.text}"
                                 class="approvedComment"> Product comments will be displayed here </pre>
                        </div>
                        <div class="col-sm-1">
                            <input type="checkbox" name="approvedCommentIds" th:value="${comment.id} "/>
                        </div>
                    </div>
                </div>
                    <input type="hidden" name="productId" th:value="${product.id}"/>
                    <input type="submit" value="Approve selected comments" class="btn btn-sm btn-success"/>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>