<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container-fluid background">
    <div class="container" th:replace="fragments/header :: header">
    </div>
    <div class="container mainPanel">
        <div th:replace="fragments/menus :: sidemenu"></div>
        <div class="col-sm-10 main">
            <h1 class="page-header">Shop Users </h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>User Id</th>
                        <th>User Name</th>
                        <th>User Email</th>
                        <th>User Phone</th>
                        <th><a class="btn btn-danger" th:href="@{/add_user_view}">Add User</a></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                <td>User Id</td>
                <td>User Name</td>
                <td>User Email</td>
                <td>User Phone</td>
                <th><a class="btn btn-danger" th:href="@{/}">Edit User</a></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>