.navbar-inverse .navbar-brand{
    color: white;
    text-shadow: 3px 1px 2px black;
}
.logoText:hover{
    color: cornflowerblue;
    text-shadow: 1px 1px 2px red;
}
.navbar-fixed-top {
    color: white;
    background-color: #1528b1;
    border-color: darkblue;
    box-shadow: 0px 3px 15px #337ab7;
}

.background {
    background-color: #abb8de;
    min-height: 1050px;
}
.navbar-inverse .navbar-nav>li>a{
    color: cornflowerblue;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: white;
}

.navbar-header {
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 2px;
}

/* spacing classes */

.noPadding {
    padding: 0px;
}

.padding25 {
    padding: 25px;
}

.top20 {
    margin-top: 20px;
}

.top50 {
    margin-top: 50px;
}

.mainPanel {
    min-height: 1000px;
    background-color: white;
    padding-top: 57px;
    box-shadow: 0px 0px 8px #337ab7;
}

.innerPanel {
    margin-right: 20px;
    margin-left: 20px;
    border: 1px;
    padding: 10px;
    box-shadow: 0px 0px 8px #337ab7;
    border-radius: 10px;
}

.textarea {
    resize: none;
    height: 200px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.textarea-top {
    background-color: #337ab7;
    height: 35px;
    padding: 6px;
    min-height: 35px;
    color: white;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;

}

.product-top {
    height: 250px;

}

.input-group-addon {
    background-color: #337ab7;
    color: white;
}

/*
 * Sidebar
 */

@media (min-width: 650px) {
    .sidebar {
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #337ab7;
}

.form-signin {
    width: 300px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
}

.registration-link {
    padding-top: 20px;
    text-align: right;
}

.form-register {
    width: 750px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
}

.form-register-line {
    margin-top: 10px;
}