
.navbar-brand{
  font-size: 25px;
	color: white;
	text-shadow: 2px 2px 4px gray;

}
.navbar-fixed-top{
	background-color: black;
	box-shadow: 0px 3px 15px black;
}
.noPadding{
	padding: 0px;
}
.userLog{
	color: white;
}
.mainPage{
	margin-top: 60px;
}
.btn.gradient {
	color: white;
	background: linear-gradient(to bottom,  #262626 50%,#1a1a1a 50%);

}
.btn.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
	color: white;
	background: linear-gradient(to bottom,  #4d4d4d 50%,#404040 50%);

}
.btn.gradient:active, .btn-primary.gradient.active {
	color: white;
	background: linear-gradient(to bottom,  #1a1a1a 50%,#000000 50%); }