<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menus</title>
    <div th:replace="header :: header-css"></div>
</head>
<body>
<div class="col-sm-2 sidebar" th:fragment="sidemenu">
    <ul class="nav nav-sidebar">
        <li class=" active ">
            <a th:href="@{/in_development}">Categories
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li>
            <a th:href="@{/in_development}">
                <span class="glyphicon glyphicon-lamp"></span>
                <span> Electronics </span>
            </a>
        </li>
        <li>
            <a th:href="@{/in_development}">
                <span class="glyphicon glyphicon-sunglasses"></span>
                <span> Gadgets </span>
            </a>
        </li>
        <li>
            <a th:href="@{/in_development}">
                <span class="glyphicon glyphicon-phone"></span>
                <span> Phone accessories</span>
            </a>
        </li>
        <li>
            <a th:href="@{/in_development}">
                <span class="glyphicon glyphicon-tag"></span>
                <span> Clothing</span>
            </a>
        </li>
        <li>
            <a th:href="@{/in_development}">
                <span class="glyphicon glyphicon-piggy-bank"></span>
                <span> Discounts</span>
            </a>
        </li>
    </ul>
</div>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>